{% extends "layout.html.twig" %} {% block title %}{{ article.title }}{% endblock %} {% block content %}
<p>
    <div class="jumbotron">
        <div class="row">
            <div class="col-md-6">
                <img class="img-responsive img-rounded" style="max-height:30em" src="{{article.img}}" />
            </div>
            <div class="col-md-6">
                <h2>{{ article.title }}</h2>
                <p>{{ article.content }}</p><br/>
                <p> auteur(s) :
                  {% for author in authors %}
                  {{author.name}} {{author.firstName}}<br/>
                  {% else %} auteur inconnu
                  {% endfor %}
                </p>
                <p>prix : {{ article.price }} €</p><br/>
                {% if app.user and is_granted('IS_AUTHENTICATED_FULLY') %}
                <a class="btn btn-lg btn-primary" href="{{ path('cartAdd', { 'artId': article.id , 'usrId': app.user.id }) }} "><span class="glyphicon glyphicon-shopping-cart"> Ajouter au panier</span>
                </a>{% endif %}
            </div>
        </div>
    </div>
    <h3>Commentaires</h3> {% for comment in comments %}
    <strong>{{ comment.author.username }}</strong> écrit : {{ comment.content }}
    <br> {% else %} Il n'y a pour l'instant aucun commentaire client. {% endfor %}

    <h3>Ajouter un commentaire</h3> {% if commentForm %} {{ form_start(commentForm) }}
    <div class="form-group">
        {{ form_errors(commentForm.content) }} {{ form_widget(commentForm.content, { 'attr': { 'rows': '4', 'class': 'form-control', 'placeholder': 'Entrez un commentaire' }}) }}
    </div>
    <div class="form-group">
        <input type="submit" class="btn btn-primary" value="Publier un commentaire" />
    </div>
    {{ form_end(commentForm) }} {% for flashMessage in app.session.flashbag.get('success') %}
    <div class="alert alert-success">
        {{ flashMessage }}
    </div>
    {% endfor %} {% else %}
    <a href="{{ path('login') }} ">Connectez-vous</a> pour ajouter un commentaire. {% endif %}
</p>
{% endblock %}
