{% extends 'layout.html.twig' %} {% block title %}Panier{% endblock %} {% block content %}
<h2 class="text-center">Panier</h2>
<div class="container">
  <div class="table-responsive">
      <table class="table table-hover table-condensed">
          <thead>
              <tr>
                  <th>Title</th>
                  <th>Série</th>
                  <th>Genre</th>
                  <th>price (€)</th>
              </tr>
          </thead>
          {% for article in cart %}
          <tr>
              <td><a class="articleTitle" href="{{ path('article', { 'id': article.id }) }}">{{ article.title }}</a></td>
              <td>{{ article.serie }}</td>
              <td>{{ article.genre }}</td>
              <td>{{ article.price }}</td>
          </tr>
          {% else %}
            <h2> Votre panier est vide </h2>
          {% endfor %}
      </table>
  </div>
</div>
{% endblock %}
